/*
*********
VARIABLES
*********
*/

$search-border-radius: 5px;
$cards-gap: 30px;
$courses-gap: 30px;
$articles-gap: 30px;
$header-primary: #1F2154;
$header-font: #FFFFFF;
$details-primary: #1FAD96;
$bg-primary: #FFFFFF;
$bg-secondary: #F6F3F6;
$btn-primary: #27AB94;
$btn-secondary: #1F2154;
$font-primary: #333333;
$font-secondary: #8D8D8D;